@model IEnumerable<WaterCompany.Data.Entities.Consumption>

@{
    ViewData["Title"] = "ClientConsumptions";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

<br />
<br />
<br />
<br />
<h1 class="big-title"><i class="fas fa-wallet"></i> Consumptions <br /><hr class="center-ball" /><br /></h1>
<div class="table-responsive-sm">
  @*  <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    <i class="fas fa-user"></i> @Html.DisplayNameFor(model => model.Client.FullName)
                </th>
                <th>
                    <i class="fas fa-calendar-week"></i> @Html.DisplayNameFor(model => model.ConsumptionDate)
                </th>
                <th>
                    <i class="fas fa-dollar-sign"></i> @Html.DisplayNameFor(model => model.Echelon)
                </th>
                <th>
                    <i class="fas fa-dollar-sign"></i> @Html.DisplayNameFor(model => model.UnitaryValue)
                </th>
                <th>
                    <i class="fas fa-money-bill-alt"></i> @Html.DisplayNameFor(model => model.TotalConsumption)
                </th>
                <th><i class="fas fa-filter"></i> Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsumptionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Echelon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitaryValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalConsumption)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-info-circle"></i> Details</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <i class="fas fa-user"></i> @Html.DisplayNameFor(model => model.Client.FullName)
                </th>
                <th>
                    <i class="fas fa-calendar-week"></i> @Html.DisplayNameFor(model => model.ConsumptionDate)
                </th>
                <th>
                    <i class="fas fa-dollar-sign"></i> @Html.DisplayNameFor(model => model.Echelon)
                </th>
                <th>
                    <i class="fas fa-dollar-sign"></i> @Html.DisplayNameFor(model => model.UnitaryValue)
                </th>
                <th>
                    <i class="fas fa-money-bill-alt"></i> @Html.DisplayNameFor(model => model.TotalConsumption)
                </th>
                <th><i class="fas fa-filter"></i> Options</th>
            </tr>
        </tfoot>
    </table*@>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}