@model WaterCompany.Data.Entities.Consumption

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumption</h4>
    <hr class="center-ball" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Echelon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Echelon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitaryValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitaryValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalConsumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalConsumption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
