@model IEnumerable<WaterCompany.Data.Entities.Consumption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Echelon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitaryValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalConsumption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Echelon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitaryValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalConsumption)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
