@model WaterCompany.Data.Entities.Client

@{
    ViewData["Title"] = "Details";
}

<br />
<br />

<h1 style="text-align:center;">Client Details</h1>
<hr />
<br />
<div class="centerform">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary"><i class="fas fa-pen-square"></i></a>
    <a class="btn btn-outline-primary" asp-action="Index"><i class="fas fa-backward"></i></a>
</div>
<br />
<div class="row col align-self-center">
    <div class="col-md-12">
        <dl class="row data_table" style="padding-left: 35px;">
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-9">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img class="user-avatar-md rounded-circle" src="@Url.Content(Model.ImageUrl)" alt="Image" style="width: auto; height: 100px;" />
                }
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.ClientName)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.ClientName)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Telephone)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.TIN)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.TIN)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>
        </dl>
    </div>
</div>