@model IEnumerable<WaterCompany.Data.Entities.Client>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

<br />
<br />
<br />
<br />
<h1 class="big-title"><i class="fas fa-walking"></i> Clients <br /><hr class="center-ball" /><br /><a asp-action="Register" asp-controller="Account" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> New Client</a></h1>

<div class="table-responsive-sm">
    <table id="example" class="table table-striped table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    <i class="fas fa-user"></i> @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    <i class="fas fa-mobile-alt"></i> @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    <i class="fas fa-address-book"></i> @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    <i class="fas fa-mail-bulk"></i> @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    <i class="fas fa-sort-numeric-up"></i> @Html.DisplayNameFor(model => model.TIN)
                </th>
                <th>
                    <i class="fas fa-at"></i> @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    <i class="fas fa-image"></i> @Html.DisplayNameFor(model => model.ImageFullPath)
                </th>
                <th><i class="fas fa-filter"></i> Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageFullPath))
                        {
                            <img class="user-avatar-md" src="@Url.Content(item.ImageFullPath)" alt="Image" style="width: auto; height: 50px;" />
                        }
                    </td>
                    <td>
                        <a style="width: 100px;" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fas fa-pen-square"></i> Edit</a><br />
                        <a style="width: 100px;" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-info-circle"></i> Details</a><br />
                        <a style="width: 100px;" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <i class="fas fa-user"></i> @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    <i class="fas fa-mobile-alt"></i> @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    <i class="fas fa-address-book"></i> @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    <i class="fas fa-mail-bulk"></i> @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    <i class="fas fa-sort-numeric-up"></i> @Html.DisplayNameFor(model => model.TIN)
                </th>
                <th>
                    <i class="fas fa-at"></i> @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    <i class="fas fa-image"></i> @Html.DisplayNameFor(model => model.ImageFullPath)
                </th>
                <th><i class="fas fa-filter"></i> Options</th>
            </tr>
        </tfoot>
    </table>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}