@model IEnumerable<WaterCompany.Data.Entities.Country>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />

<br />
<br />
<br />
<br />
<h1 class="big-title"><i class="fas fa-globe-europe"></i> Countries <br /><hr class="center-ball" /><br /><a asp-action="Create" asp-controller="Countries" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> New Country</a></h1>

<div class="table-responsive-sm">
    <table id="example" class="table table-striped table-bordered" style="width: 100%;">
        <thead>
        <tr>
            <th>
                <i class="fas fa-globe-europe"></i> @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <i class="fas fa-city"></i> @Html.DisplayNameFor(model => model.NumberCities)
            </th>
            <th><i class="fas fa-filter"></i> Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberCities)
                </td>
                <td id="@item.Id">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fas fa-pen-square"></i> Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-info-circle"></i> Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" id="btnDelete"><i class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <i class="fas fa-globe-europe"></i> @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    <i class="fas fa-city"></i> @Html.DisplayNameFor(model => model.NumberCities)
                </th>
                <th><i class="fas fa-filter"></i> Options</th>
            </tr>
        </tfoot>
    </table>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p><b>Do you want to delete the country?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="btnYesDelete"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-outline-success" id="btnNoDelete"><i class="fas fa-thumbs-down"></i></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;
            $('a[id*=btnDelete]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Countries/Delete/' + id;
            });
        });
    </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
}